parameters:
    level: 7
    paths:
        - src/
        - test/
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '~^Call to an undefined method Prophecy\\Prophecy\\~'
        -
            message: '~^Parameter \#1 .* of class Genkgo\\Camt\\.* constructor expects Genkgo\\Camt\\.*, object given\.$~'
            path: test
        -
            message: '~^Parameter \#1 .* of method Genkgo\\Camt\\.* expects Genkgo\\Camt\\.*, object given\.$~'
            path: test
