<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutOutputDuringTests="true"
    colors="true"
    cacheDirectory="/tmp/.phpunit.cache.graphql-doctrine">
    <testsuite name="GenkgoMail tests">
        <directory>./test/Unit</directory>
    </testsuite>
    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>
</phpunit>
